<% @blogs.each do |blog| %>
  <div class="item">
    <div class="box shade-box background-image-adaptive-box" style="background-image: url(<%= blog.image_url %>);">
      <div class="shade">
        <div class="posted-date"><%= blog.created_at %></div>
        <div class="blog-content">
          <%= blog.text %>
        </div>
        <div class="nick-name">
          <%= link_to blog.profile_link, blog.profile_link, target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
