<div class="box shade-box image-flag">
  <div class="shade">
    <div class="posted-date">06/25/2013</div>
    <div class="first-comment">
      looks great
      Great flag in Summer !
      Thanks !
    </div>
    <div class="nick-name">
      <a href="#">Ray</a>
    </div>
  </div>
</div>
<div class="box shade-box image-flag">
  <div class="shade">
    <div class="posted-date">06/25/2013</div>
    <div class="first-comment">
      looks great
      Great flag in Summer !
      Thanks !
    </div>
    <div class="nick-name">
      <a href="#">Ray</a>
    </div>
  </div>
</div>
<div class="box shade-box image-flag">
  <div class="shade">
    <div class="posted-date">06/25/2013</div>
    <div class="first-comment">
      looks great
      Great flag in Summer !
      Thanks !
    </div>
    <div class="nick-name">
      <a href="#">Ray</a>
    </div>
  </div>
</div>
<div class="box shade-box image-flag">
  <div class="shade">
    <div class="posted-date">06/25/2013</div>
    <div class="first-comment">
      looks great
      Great flag in Summer !
      Thanks !
    </div>
    <div class="nick-name">
      <a href="#">Ray</a>
    </div>
  </div>
</div>
<div class="box box-expanded shade-box image-ued">
  <div class="shade">
    <div class="posted-date">06/25/2013</div>
    <div class="first-comment">
      looks great
      Great flag in Summer !
      Thanks !
    </div>
    <div class="nick-name"><a href="#">Ray</a></div>
  </div>
</div>
<div class="box shade-box image-flag">
  <div class="shade">
    <div class="posted-date">06/25/2013</div>
    <div class="first-comment">
      looks great
      Great flag in Summer !
      Thanks !
    </div>
    <div class="nick-name"><a href="#">Ray</a></div>
  </div>
</div>
<div class="box shade-box image-flag">
  <div class="shade">
    <div class="posted-date">06/25/2013</div>
    <div class="first-comment">
      looks great
      Great flag in Summer !
      Thanks !
    </div>
    <div class="nick-name"><a href="#">Ray</a></div>
  </div>
</div>
