= box_tag box, class: %w[box-double box-about], cols: 2
  h3 About ShineNeXT
  p We are a software company and a community of passionate, purpose-led individuals. We think disruptively to deliver technology to address our clients' toughest challenges, all while seeking to revolutionize the IT industry and create positive social change.
