body
  background-color: #f5f1ed

#wrapper
  margin: 0 auto
  width: 1152px
  overflow: hidden

.logo
  height: 73px
  margin-top: 40px
  text-align: center
  border-bottom: 1px solid #ddd

.nav
  font-size: 12px
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif
  font-weight: 600
  margin: 21px auto
  line-height: 16px
  text-align: center
  text-shadow: 0 1px 0 rgba(255, 255, 255, .6)
  ul
    padding-left: 0px
    li
      padding: 0px 3px
      display: inline-block
      vertical-align: baseline
      a
        color: #969289
        padding: 8px 12px
    li.active a
      color: #f7941e

.boxes.isotope
  position: relative
  overflow: hidden
  height: 602px

.box
  width: 276px
  height: 288px
  float: left
  margin-left: 12px
  margin-top: 13px
  background: gray
.box.box-w2
  width: 564px
