.box-expandable
  .mini
    cursor: pointer
    display: block
    height: 100%

    > a
      display: block
      height: 100%
      color: $color-font

  .maxi
    display: none
    height: 100%

.box-expandable.box-expanded
  .mini
    display: none

  .maxi
    display: block

.box-2x
  width: $box-width-2x
  height: $box-height-2x
