.box-staff
  &.box-expanded
    min-height: $box-height
    height: auto
    width: $box-width-2x

.staff-thumb
  float: left
  width: $box-width
  height: $box-height
  background-size: cover

.staff-name
  position: absolute
  top: 239px
  left: 0
  padding: 0 10px
  color: white
  background: rgba($main-color, .7)
  line-height: 2
  @include transition(background .3s)

.staff-thumb:hover .staff-name
  background: $main-color

.maxi
  .staff-thumb
    margin-right: 20px

.staff-info
  //float: right
  box-sizing: border-box
  //width: $box-width
  padding: 10px 20px

.staff-quote
  margin-top: 7px
  font-weight: bold

.staff-description
  text-align: left
  display: inline
  top: 10px
  position: relative

.social-links
  margin-top: 20px

  a
    margin: 0 5px
    color: $color-font
    font-weight: bold
    vertical-align: bottom

  i
    margin-right: 5px
    color: $color-link
