.box-tech

.tech-title
  display: block
  margin: 30px 10px 10px 10px
  height: 100px
  line-height: 100px

  img
    max-width: 234px
    max-height: 100px
    vertical-align: middle

.tech-description
  margin: 10px
