.box-staff
  &.box-expanded
    @include span-columns(6)
    min-height: $box-height //* 2 + $box-gap
    max-width: $box-width * 3 + $box-gap * 2
    min-width: $box-width

.staff-thumb
  float: left
  width: $box-width
  height: $box-height
  background-size: cover

.staff-name
  position: absolute
  bottom: 20px
  left: 0
  padding: 0 10px
  color: white
  background: rgba($main-color, .7)
  line-height: 2
  @include transition(background .3s)

.staff-thumb:hover .staff-name
  background: $main-color

.staff-info
  padding: 10px

.staff-description
  display: inline

.social-links
  margin-top: 20px

  a
    margin: 0 5px
    color: $color-font
    font-weight: bold
    vertical-align: bottom

  i
    margin-right: 5px
    color: $color-link
