.box-service
  p
    color: $color-font

  .icon
    font-size: 120px

  .mini, .maxi
    padding: 10px

  .mini
    width: 100%
    height: 100%

  .maxi
    .icon
      float: left
      margin: 10px 20px

    h2
      margin-bottom: 40px

.box-service.box-expanded
  @include span-columns(6)
  height: $box-height * 2 + $gutter
