// TODO need refactor
.box-expandable
  .mini
    cursor: pointer
    display: block

    // padding-top: 25px
    // p
    //   font-size: 14px
    //   padding: 0 15px

  .maxi
    display: none
    // text-align: left
    // .maxi-inner
    //   padding-top: 15px
    //   padding-right: 20px
    //   padding-left: 30px
    //   font-size: 16px
    //   line-height: 1.5
    // img, .icon
    //   float: right
    //   padding-left: 15px

.box-expanded
  .mini
    display: none

  .maxi
    display: block

// .box-expanded
  // width: $box-double-width
  // height: $box-double-height
  // border-width: 0
