.box-service
  p
    color: $color-font

  .icon
    font-size: 120px

  .mini > a
    padding: 10px

  .mini
    width: 100%
    height: 100%

  .maxi
    padding: 10px 30px
    text-align: left
    .icon
      padding-right: 20px
      padding-bottom: 10px
      float: left

    h2
      margin-bottom: 20px

  &.box-expanded
    min-height: $box-height-2x
    width: $box-width-2x
