.box-service
  .icon
    font-size: 120px

  .mini, .maxi
    padding: 10px

  .mini
    box-sizing: border-box

  .maxi
    .icon
      float: left
      margin: 10px 20px

    h2
      margin-bottom: 40px
