.new-box
  text-align: center
  .new-box-inner
    font-size: 130px
    vertical-align: middle
    display: table-cell
    border: 14px solid #A2AAB1
    color: #A2AAB1
    width: $box-width
    height: $box-height - 28px

#newBoxModal
  .field
    margin: 5px 0

.edit-button
  font-size: 12px
  background-color: #da4f49
  color: white
  padding: 3px 12px 3px 10px
  margin-top: 20px
  margin-left: 12px
  float: right
  cursor: pointer
#editPagesModal
  font-size: 16px
  .clear
    clear: both
  .hr
    border-bottom: 1px solid #ddd

.box
  .remove-box-icon
    top: 0
    right: 0
    position: absolute
    font-size: 33px
    color: #da4f49
    margin-top: -16px
    margin-right: -13px
    cursor: pointer

//#boxes-link
  color: #666!important

//#custom-panel
  font-weight: bold
  width: 100%
  background-color: #E6E6E6
  min-height: 245px
  padding: 10px 30px
  h3
    font-weight: bold
    color: #6E717B!important
  #custom-boxes-list
    li
      float: left
      margin-right: 20px
      width: 72px
      text-align: center
    #new-box
      vertical-align: middle
      display: table-cell
    .box-option
      background-color: white
      width: 72px
      height: 67px
      border: 4px solid #A2AAB1
      .icon-plus
        font-size: 40px
        color: #A2AAB1!important
      .box-option-nav
        background-color: #A2AAB1

