.dropdown.dropdown-tag
  float: right
  margin-top: 18px
  background-color: #ed6752

  .dropdown-toggle
    display: block
    padding: 5px 15px
    font-size: 16px
    color: white
    .icon-sort-down
      right: 0px
      top: -3px
      position: relative


  &.open .dropdown-toggle
    background: $color-font

  .dropdown-menu
    margin: 5px 0 0
    border: 0
    padding-bottom: 0
    background-color: $color-main
    border-radius: 0

    .nav-btn
      background-color: $color-link
      @include linear-gradient(lighten($color-link, 10%), darken($color-link, 10%))
      .icon-sort-down
        padding-bottom: 2px

      .nav-btn-inner
        font-weight: bold
        border: 0
        color: white
        margin-left: 42px
        padding: 5px 0

    &> li > a
      color: #FFF
      -moz-user-select: none
      -webkit-user-select: none
      -ms-user-select: none
      -khtml-user-select: none
      user-select: none

      &:hover
        background: #252525


      & > i
        padding-right: 10px
        visibility: hidden

    & > li > .selected > i
      visibility: visible
