.dropdown.dropdown-tag
  position: absolute
  top: 0
  right: 0
  background-color: $color-main

  .dropdown-toggle
    display: block
    padding: 10px 15px
    font-size: 16px
    color: white

  .dropdown-menu
    margin: 0
    border: 0
    padding-bottom: 0
    background-color: $color-main
    border-radius: 0

    .nav-btn
      background-color: $color-link
      @include linear-gradient(lighten($color-link, 10%), darken($color-link, 10%))
      .nav-btn-inner
        font-weight: bold
        border: 0
        color: white
        margin-left: 42px
        padding-top: 5px

    &> li > a
      color: #FFF
      -moz-user-select: none
      -webkit-user-select: none
      -ms-user-select: none
      -khtml-user-select: none
      user-select: none

      &:hover
        background: #252525


      & > i
        padding-right: 10px
        visibility: hidden

      & > .selected
        visibility: visible
