.dropdown.dropdown-tag
  position: absolute
  top: 0
  right: 0
  background-color: $color-main

  .dropdown-toggle
    display: block
    padding: 10px 15px
    font-size: 16px
    color: white

  .dropdown-menu
    margin: 0
    border: 0
    background-color: $color-main
    border-radius: 0

    &> li > a
      color: #FFF

      &:hover
        background: #252525

      & > i
        padding-right: 10px
        color: $color-main

      & > .selected
        color: white
