#guest-book
  z-index: 100
  width: 265px
  font-weight: bold
  position: fixed
  bottom: 0px
  right: 10px
  background: $main-color none repeat scroll 0 0
  color: #fff
  padding: 10px
  padding-bottom: 7px
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  -moz-border-top-left-radius: 5px
  -moz-border-top-right-radius: 5px


  #guest-form
    background-color: white
    color: $main-color
    font-size: 12px
    padding: 3px 10px
    padding-bottom: 10px
    input
      width: 125px
    textarea
      width: 225px
    #message_submit
      margin-top: 10px
      margin-left: 100px
