@media screen and (max-width: 720px)
  .logo a
    font-size: 18px

@media screen and (max-width: 650px)

  #menu li a
    padding: 0 2px
    font-size: 12px

  .logo a
    font-size: 14px

  .box-service
    &.box-expanded
      .icon, h2
        padding: 0
        width: 100%
        text-align: center

  .box-staff, .box-service, .box-client
    &.box-expanded
      height: auto
      width: $box-width
      min-height: $box-height-2x

@media screen and (max-width: 500px)
  #menu li a
    font-size: 10px
