.slide
  padding: 50px 40px 0
  // padding: 50px 40px 0
  text-align: left

.tabs
  margin-bottom: 2em
  font-size: 12px
  color: #ccc9c0

  li
    display: inline
    margin: 0 2em 0 0
    cursor: pointer

  .active
    color: #f7941e

.tab-contents
  position: relative
  overflow: hidden
  height: 140px
  font-size: 16px
  line-height: 1.5

.tab-content
  position: absolute
  top: 0
  left: 100%
  width: 100%
  opacity: 0

  &.active
    opacity: 1
    transition: left .6s, opacity .8s
    left: 0

  &.slide-out
    transition: left, .5s
    left: -100%

.bullets
  margin-top: 20px
  text-align: center
  color: rgba(204, 201, 192, .5)

  li
    padding: 0 4px
    cursor: pointer

  li.active
    color: #f7941e

// in blue box
.box-blue
  .slide
    .tabs
      color: #768588

      .active
        color: white

    .bullets
      color: rgba(118, 133, 136, .5)

      .active
        color: white
