.video-modal
  position: fixed
  top: 50%
  left: 50%
  margin-top: -240px
  margin-left: -426px
  z-index: 3000
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, .5)
  background-color: black

  .video-modal-content
    width: 853px
    height: 480px

  .icon-stack
    position: absolute
    top: -27px
    right: -27px
    text-shadow: 0 0 5px white
    z-index: 9999
    opacity: 0
    @include transition(opacity .3s)

  &:hover .icon-stack
    opacity: 1

  .icon-stack-base
    color: black
