doctype html
html
  head
    = render '/refinery/head'
    meta property="wb:webmaster" content="60b0b8733880e339"
    - unless response.status == 404
      = javascript_include_tag "application"
  body
    .loading.hide
      .loading-mask

    #wrapper
      #main
        = render '/home/header'
        = render '/refinery/site_bar'
        = render '/refinery/header'

        .box-container.isotope
          = yield

        = render 'home/footer'
